<div class="container-fluid" ng-controller="MainCtrl as main">
    <div class="row-fluid vertical-align top">
        <div class="col-sm-2 col-md-2 col-lg-3"></div>
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="palindrome-check">
                    <span class="glyphicon" ng-class="palindromeClasses"></span>
                </span>
                <input type="text" class="form-control"
                       placeholder="Write your palindrome here. . ."
                       ng-model="palindrome"
                       ng-keyup="checkPalindrome(palindrome)"
                       aria-describedby="palindrome-check">
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-3"></div>
    </div>
    <div class="row-fluid vertical-align validator">
        <div class="col-sm-2 col-md-2 col-lg-3"></div>
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <div class="panel panel-default full-width" ng-show="palindromeVerified==null">
                <div class="panel-body alert-warning">
                    <span class="glyphicon glyphicon-question-sign"></span> No text entered to evaluate as palindrome!
                </div>
            </div>
            <div class="panel panel-default full-width" ng-show="palindromeVerified==false">
                <div class="panel-body alert-danger">
                    <span class="glyphicon glyphicon-remove-sign"></span> <strong>{{palindrome}}</strong> is NOT a palindrome!
                </div>
            </div>
            <div class="panel panel-default full-width" ng-show="palindromeVerified==true">
                <div class="panel-body alert-success">
                    <span class="glyphicon glyphicon-ok-sign"></span> <strong>{{palindrome}}</strong> is a palindrome!
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-3"></div>
    </div>
    <div class="row-fluid vertical-align bottom">
        <div class="col-sm-2 col-md-2 col-lg-3"></div>
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <div class="panel panel-default full-width">
                <div class="panel-heading">Definition of a palindrome</div>
                <div class="panel-body">
                    Wikipedia definition of <strong>palindrome</strong> (wiki link: <a href="http://en.wikipedia.org/wiki/Palindrome">Palindrome</a>)<br />
                    A <strong>palindrome</strong> is a word, phrase, number, or other sequence of characters which reads the same backward or forward.
                    Allowances may be made for adjustments to capital letters, punctuation, and word dividers. Examples in English
                    include "A man, a plan, a canal, Panama!", "Amor, Roma", "race car", "stack cats", "step on no pets", "taco cat",
                    "put it up", "Was it a car or a cat I saw?" and "No 'x' in Nixon".
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-3"></div>
    </div>
</div>