/**
 * Blue palette http://paletton.com/palette.php?uid=13C0u0klllltD6spvdThbsNd2HH
 * Green palette
 * Red Pa
 */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #B2D2BD;
}

.top {
  margin-top: 5em;
}

.validator {
  margin-top: 1em;
  margin-bottom: 3em;
}

.full-width {
    width: 100%;
    display: block;
}

.palindrome-true {
    color: #269726;
}

.palindrome-false {
    color: #AF1212;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items
                              horizontally inside the column */
}